#logoutBtn{
    display: inline;
    float:right;
    margin-right:50px;
    margin-top:2px;
}
#headerText{
    display: inline;
}
#addTask{
    display: inline;
    float:right;
    margin-right:10px;
    margin-top:2px;
    margin-bottom:15px;
}
.container{
    padding:15px;
}
.table{
    text-align:center;
}
.tableBtn{
    display:inline-block;
    margin-left:5px;
    margin-right:3px;
    height:34px;
}
.backButton{
    background:rgb(43, 47, 80);
    float:right;
    margin-right:10px;
}