<div class = "top-container">  
    <h1>Welcome to LTI Task Records</h1>
</div>
<div>
    <div class="wrapper">
    <h3>Portal Login</h3>
    </div>
    <div class="wrapper">
        <div class="card" style="width:50%">
            <form #credentials="ngForm" (ngSubmit)="login()">
                <div class="form-group row">
                    <label for="adminUserName" class="col-sm-4 col-form-label">User Name<span style="color:red" >*</span>
                    </label>
                    <div class="col-sm-6">
                        <input #username="ngModel" required [class.is-invalid]="username.invalid && username.touched" class="form-control" type="text" name="adminUserName" placeholder="Enter Your Username" [(ngModel)]="credential.username"/>
                        <small [class.d-none]="username.valid || username.untouched" class="text-danger">
                            User Name is required
                        </small> 
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Password" class="col-sm-4 col-form-label "> Password <span style="color:red" >*</span></label>   
                    <div class="col-sm-6">
                        <input required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" class="form-control" type="password" name="Password"  placeholder="Enter Your Password" [(ngModel)]="credential.password"/>
                        <div *ngIf= "password.errors && (password.invalid && password.touched)">
                            <small  class ="text-danger" *ngIf="password.errors.required">
                                Password is required</small>
                        </div>
                    </div>
                </div>
                <div class="wrapper" style="margin-top:3px">
                    <a href="/RegisterAdmin">Sign Up</a>
                </div>
                <div class="wrapper">
                    <button type ="submit" class="form-control btn btn-primary" 
                    [disabled]="credentials.form.invalid"style="margin-bottom: 20px; width: 100px;">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
