.top-container{
    text-align: center;
}

.form{    
    margin-top:10px;
    margin-left:60px;
}

.wrapper{
    display: flex;   
    justify-content: center;
    margin-top: 20px;
}
  
.card{ 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: left; 
    background-color: #d8d8dae0;   
}