<div>
    <div class="wrapper">
    <h3>Register Employee</h3>
    </div>
    <div class="wrapper">
        <div class="card" style="width:50%">
            <form #employeeInfo="ngForm" (ngSubmit)="register()">
                <div class="form-group row">
                    <label for="employeeFname" class="col-sm-4 col-form-label">First Name<span style="color:red" >*</span>
                    </label>
                    <div class="col-sm-6">
                        <input required maxlength=15 #fname="ngModel" [class.is-invalid]="fname.invalid && fname.touched"  class="form-control" type="text" name="employeeFname" placeholder="Enter Employee's First Name" [(ngModel)]="empInfo.firstName"/>
                        <div *ngIf="fname.invalid && fname.touched">
                            <div *ngIf="fname.errors.required">
                                <small class="text-danger">First Name is required.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="employeeLname" class="col-sm-4 col-form-label">Last Name<span style="color:red" >*</span>
                    </label>
                    <div class="col-sm-6">
                        <input required maxlength=15 #lname="ngModel" [class.is-invalid]="lname.invalid && lname.touched" class="form-control"  type="text" name="employeeLname" placeholder="Enter Employee's Last Name" [(ngModel)]="empInfo.lastName"/>
                        <div *ngIf="lname.invalid && lname.touched">
                            <div *ngIf="lname.errors.required">
                                <small class="text-danger">Last Name is required.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="employeeMobNumber" class="col-sm-4 col-form-label">Mobile Number<span style="color:red" >*</span>
                    </label>
                    <div class="col-sm-6">
                        <input required minlength=10 maxlength=10 #mobileNo="ngModel" [class.is-invalid]="mobileNo.invalid && mobileNo.touched" class="form-control" type="text" name="employeeMobileNumber" placeholder="Enter Employee's Mobile Number" [(ngModel)]="empInfo.mobileNo"/>
                        <div *ngIf="mobileNo.invalid && mobileNo.touched">
                            <div *ngIf="mobileNo.errors.required">
                                <small class="text-danger">Mobile Number is required.</small>
                            </div>
                            <div *ngIf="mobileNo.errors.minlength">
                                <small class="text-danger">Mobile Number must be 10</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="employeeEmailId" class="col-sm-4 col-form-label">Email Id<span style="color:red" >*</span>
                    </label>
                    <div class="col-sm-6">
                        <input maxlength=30 required email [class.is-invalid]="email.invalid && email.touched" #email="ngModel" class="form-control" type="email" name="employeeEmailId" placeholder="Enter Employee's Email Id" [(ngModel)]="empInfo.email" />
                        <div *ngIf="email.invalid && email.touched">
                            <div *ngIf="email.errors.required">
                                <small class="text-danger">Email Id is required.</small>
                            </div>
                            <div *ngIf="email.errors.email">
                                <small class="text-danger">Enter a valid email address</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="employeeDesignation" class="col-sm-4 col-form-label">Designation<span style="color:red">*</span>
                    </label>
                    <div class="col-sm-6">
                    <select required id="inputState" class="form-control" name="employeeDesignation" 
                    [(ngModel)]="empInfo.designation">
                        <option value="Manager">Manager</option>
                        <option value="SDE-1">SDE 1</option>
                        <option value="SDE-2">SDE 2</option>
                        <option value="Trainee">Traniee</option>
                        <option value="Intern">Intern</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="team" class="col-sm-4 col-form-label">Teams<span style="color:red" >*</span>
                    </label>
                    <div class="col-sm-6">
                    <select required id="team" class="form-control" name="employeeTeam" 
                    [(ngModel)]="empInfo.projectId">
                        <option value={{project.projectId}} *ngFor="let project of projects">
                            {{project.projectId}}
                        </option>
                    </select>
                    </div>
                </div>
                <div class="wrapper">
                    <button [disabled]="employeeInfo.form.invalid" type ="submit" class="form-control btn btn-primary" style="width: 100px;margin-right:3px" >Register</button>
                    <button type ="reset" class="form-control btn btn-secondary" style="width: 100px;" >Clear</button>
                </div>
                <div class="wrapper">
                    <button  type ="button" class="form-control btn btn-danger" style="margin-bottom: 20px; width: 70px;" routerLink="/Teams">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>
