<div>
    <div class="wrapper">
    <h3>Register Team</h3>
    </div>
    <div class="wrapper">
        <div class="card" style="width:50%">
            <form #registerTeam="ngForm" (ngSubmit)="register()">
                <div class="form-group row">
                    <label for="teamName" class="col-sm-4 col-form-label">Team Name<span style="color:red" >*</span>
                    </label>
                    <div class="col-sm-6">
                        <input class="form-control"  type="text" name="teamName" placeholder="Enter Team Name" 
                        [(ngModel)]="teamInfo.teamName"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="applicationName" class="col-sm-4 col-form-label">Application Name<span style="color:red" >*</span>
                    </label>
                    <div class="col-sm-6">
                        <input class="form-control"  type="text" name="applicationName" placeholder="Enter Application Name" [(ngModel)]="teamInfo.applicationName"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="teamLocation" class="col-sm-4 col-form-label">Team Location<span style="color:red" >*</span>
                    </label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="teamLocation" placeholder="Enter Team Location" [(ngModel)]="teamInfo.teamLocation"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="teamManagerId" class="col-sm-4 col-form-label">Manager Id<span style="color:red" >*</span>
                    </label>
                    <div class="col-sm-6">
                    <select id="inputState" class="form-control" name="teamManagerId" 
                    [(ngModel)]="teamInfo.teamManagerId">
                        <option value={{manager.employeeId}} *ngFor="let manager of BenchedManagers">
                            {{manager.employeeId}},{{manager.employeeName}}</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="client" class="col-sm-4 col-form-label">Client Name<span style="color:red" >*</span>
                    </label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="client" placeholder="Enter Client Name"
                        [(ngModel)]="teamInfo.client"/>
                    </div>
                </div>
                <div class="wrapper">
                    <button type ="submit" class="form-control btn btn-primary" style="width: 100px;" >Register</button>
                </div>
                <div class="wrapper">
                    <button type ="button" class="form-control btn btn-secondary" style="margin-bottom: 20px; width: 70px;" routerLink="/Teams">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>
