<div class="container">
<h1 id="headerText">Hello {{name}}</h1>
<button id="logoutBtn" type="button" class="btn btn-secondary" (click)="logout()">Logout</button>
</div>
<button id="logoutBtn" type="button" class="btn btn-primary " routerLink="/RegisterTeam">Add Team</button>
<button id="registerEmployeeBtn" class="btn btn-primary" routerLink="/RegisterEmployee">
    Register Employee
</button> 
<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Sprint</th>
            <th scope="col">Update Sprint</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of Projects;">
            <td scope="row">{{project.projectName}}</td>
            <td>{{project.sprint}}</td>
            <td style="align-items: center">
              <select id="{{project.projectId}}" class="form-control" style="width:100px ;display: inline"
              [(ngModel)]="projectSprint">
                  <option >Sprint Two</option>
                  <option >Sprint Three</option>
                  <option >Sprint Four</option>
              </select>
              <button type="button" class="btn btn-primary tableBtn" (click)="updateSprint(project.projectId)">
                Update</button>
          </td>
            <td style="align-items: center">
              <button type="button" class="btn btn-primary tableBtn" routerLink='/EditTeams' 
              [state]="{projectId:project.projectId}">Edit</button>
              <button type="button" class="btn btn-primary tableBtn" (click)="setTeamId(project.projectId)">Details</button>
              <button type="button" class="btn btn-primary tableBtn" (click)="delete(project.projectId)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
